header{
	display: flex;
	width: 90%
	height:20vh;
	margin:auto;
}
.logo-container,.nav-links{
	display: flex;

}

.logo-container{
	flex:5;

}
nav{
	flex:5;
	
}
.nav-links{
	list-style: none;
	color:#FFEBCD;
	justify-content: space-around;

}
.nav-link{
	text-decoration: none;

}
.testimonies{
	text-decoration: none;
	border-style: square;

}